@page
@model Template.Presentation.Pages.AuthorizationModel
@{
	ViewData["Title"] = "Authorization2";
}

<html>
<head>
	<title>@{ViewData["Title"]}</title>
</head>
<body>
<h1>Authorization</h1>

</body>
</html>